body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #d5c5c8ff; /* French Gray */
    color: #604d53ff; /* Wenge */
}

header {
    background-color: #9da3a4ff; /* Cadet Gray */
    padding: 10px;
    margin: 0 auto 20px; /* Center the header horizontally */
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #604d53ff; /* Wenge */
}

main {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #9da3a4ff; /* Cadet Gray */
    margin: 20px auto 0; /* Center the footer horizontally */
}
